@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-image: url("../images/hero-bg.webp");
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
  width: 20px;
  height: 20px;
  background-size: 50% auto;
}
.swiper-pagination-bullet {
  background-color: gray;
  opacity: 0.5;
}
.swiper-pagination-bullet-active {
  background-color: white;
  opacity: 1;
}

/* スマホ向け */
@media (max-width: 639px) {
  .hero {
    background-image: url("../images/hero-bg-sm.webp");
    background-position: center bottom;
  }
}
